name: Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'

jobs:
  rpm:
    name: ${{ matrix.distro }}
    runs-on: Ubuntu-latest
    strategy:
      matrix:
        distro:
          - fedora-39
          - fedora-40
          - fedora-41
          - rockylinux-8
          - rockylinux-9
        repository: [throttled]
    env:
      COPR_REPOSITORY: ${{ matrix.repository }}
      BUILDER_IMAGE: quay.io/abn/rpmbuilder:${{ matrix.distro }}
      CHROOT: ${{ matrix.distro }}
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2

      - name: Set epel chroot (rockylinux)
        if: startsWith(matrix.distro, 'rockylinux')
        shell: bash
        run: echo "CHROOT=${CHROOT/rockylinux/epel}" >> $GITHUB_ENV

      - name: Build srpm and rpm
        shell: bash
        run: docker run -v ${PWD}:/sources -v ${PWD}:/output:Z ${BUILDER_IMAGE}

      - name: Upload srpm and rpm
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.repository }}-${{ matrix.distro }}
          path: "*.rpm"
          if-no-files-found: error

      - name: Setup python
        uses: actions/setup-python@v2
        if: startsWith(github.ref, 'refs/tags/v')

      - name: Build rpm (copr)
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        env:
          COPR_CONFIG: ${{ secrets.COPR_CONFIG }}
        run: |
          python -m pip install copr-cli simplejson
          echo "$COPR_CONFIG" > .copr
          copr-cli --config .copr build -r ${CHROOT}-${ARCH} ${COPR_REPOSITORY} *.src.rpm
          rm -f .copr
